[submodule ".vim/bundle/vim-pathogen"]
	path = vim/autoload/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/puppet"]
	path = vim/bundle/puppet
	url = https://github.com/rodjek/vim-puppet.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = git@github.com:marclambrichs/ohmyzsh.git
[submodule "powerline/fonts"]
	path = powerline/fonts
	url = https://github.com/powerline/fonts.git
